venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.idea
.vscode
.mypy_cache
*.egg-info/
*/*.rock
terraform/tests/.terraform

# Snap build artifacts
*.snap
opendkim-snap/snap/parts/
opendkim-snap/snap/prime/
opendkim-snap/snap/stage/
opendkim-snap/snap/.craft/
opendkim-snap/snap/overlay/
opendkim-snap/snap/*.bak

# BEGIN VALE WORKFLOW IGNORE
.vale/styles/*
!.vale/styles/local
!.vale/styles/config/

.vale/styles/config/*
!.vale/styles/config/vocabularies/

.vale/styles/config/vocabularies/*
!.vale/styles/config/vocabularies/local
# END VALE WORKFLOW IGNORE
